<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings file="">
        <clear />
        <add key="D2Path" value="K:\Games\Diablo II" />
        <add key="D2Exe" value="Diablo II.exe" />
        <add key="D2Args" value="" />
        <add key="D2BSDLL" value="cGuard.dll" />
    </appSettings>
</configuration>